/* GENERAL */

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    font-family: 'Montserrat', sans-serif;
}

h2, h5 {
    color: white;
}


.col {
    margin-bottom: 20px;
    flex-basis: 50%;
    text-align: center;
}

.col h5, .col p {
    width: 180px;
    text-align: center;
}

.inline {
    display:inline-block;
}


.active {
    height: 2px;
    width: 40%;
    background-color: rgb(32, 238, 32);
    align-self: center;
    margin-left: 40px;
    margin-top: -10px;
}

/* Wrapper */
.wrapper {
    height: calc(100vh - 100px);
}

.pad-bot-5 {
    padding-bottom: 5px;
}

.icon-size {
    width: 25px;
}

.p-rel {
    position: relative;
}


/* FLEX */

.flex {
    display: flex; 
}

.flex-c {
    display: flex;
    justify-content: center;
    align-items: center;
}

.d-column {
    flex-direction: column;
}

.j-end {
    justify-content: flex-end;
}

.j-between {
    justify-content: space-between;
}

/* HEADER */

header {
    width: 100%;
    height: 100px;
    background-color: rgba(0,0,0,0.4);
    position: fixed;
    top: 0;
    right: 0;
    z-index: 1;
    }


.btn-transparent {
    padding: 6px 13px;
    border: 1px white solid;
    align-self: center;
    font-size: 11px;
    color: white;
    border-radius: 15px;
    margin-right: 3px;
}

/* SIDEBAR */

nav {
    background-color: black;
    width: 50px;
    height: 100%;
    justify-content: space-between;
    text-align: center;
    z-index: 2;
    flex-shrink:0;
}

#user-icon {
    background-color: grey;
    height: 25px;
    width: 28px;
    border-radius: 50%;
}

#down-icon {
    margin-left: -5px;
}

#user-icon-section {
    margin-bottom: 5px;
}

.fa-plus {
    background-color: grey;
    padding: 8px 8px;
    color: black;
}


#playlist-list li {
 margin-top: 5px; 
 list-style-type: none;   
}

.playlist-title {
    margin-bottom: 5px;
}


/* MAIN */

main {
    background-color: #141922;
    overflow-y: auto;
}

#container-main-page {
    width: 100%;
    max-width: 100%;
    padding-top: 100px;
}

#menu {
    color: grey;
    font-size: 14px;
    font-weight: 600;
    justify-content: center;
    flex-wrap: wrap;
    line-height: 60px;
}

#menu span {
    margin-left: 40px;
}

.album-row {
    flex-wrap: wrap;
    margin: 0 -15px;
    padding-top: 10px;
}

.album-row img {
    max-width: 100%;
    width: auto;
}

.album-row .col {
    padding: 0 15px;
}

.round-image {
    border-radius: 50%;
}

.site-section {
    flex-wrap: wrap;
    padding: 0 15px;
}

.subtitle, .long-subtitle, .nav-icons, ul li {
    font-size: 13px;
    color: grey;
    font-weight: 600;
}

    .long-subtitle {
    width: 100%;
    text-align: left;
}


/* FOOTER */

footer {
    height: 100px;
    background-color: #282828;
}

.footer-element {
    margin-left: 10px;
    font-size: 14px;
    height: 100%;
    align-items: center;
}

.footer-element .tiny-img {
    width: 30%;
    margin-right: 5px;
}

h6 {
    color: white;
    font-weight: 600;
    font-size: 13px;
}

footer p {
    color: grey;
    font-size: 10px;
    font-weight: 700;
}

.fa-heart, .fa-folder {
    color: grey;
    margin-left: 15px;
    margin-bottom: 3px;
}

.white {
    color: white;
}


.footer-section {
    width: 25%
}

#footer-central-section {
    width: 50%;

}

#player-icons, .player-bar {
    height: 50%;
    justify-content: center;
}

#player-icons {
    margin-left: 0;
}

#player-icons i {
    font-size: 16px;
    margin-left: 20px;
}

#player-icons .big-icon {
    font-size: 32px;
}


.timer {
    font-size: 10px;
    font-weight: 800;
    margin: 0 15px;
}

.bar {
    width: 50%;
    max-width: 400px;
    border-radius: 8px;
    height: 5px;
    background-color: white;
    margin-top: 3px;
}

.colored-bar {
    width: 30%;
    max-width: 300px;
    border-radius: 5px;
    height: 5px;
    background-color: grey;

}

#display-icons i {
    margin-left: 10px;
    font-size: 10px;
}

.m-5 {
    margin: 0 5px;
}

.hidden, .play-hover {
    display: none;
}

#play-container {
    position: absolute; 
    top: 0; 
    left: 0; 
    width: 100%;
    height: 100%;
    font-size: 60px;
 }

 

/* MEDIA QUERIES */

@media screen and (min-width: 576px) {
    nav {
        width: 180px;
        text-align: left;
        flex-shrink: 0;
    }

    .nav-icons {
        margin-left: 10px;
    }

    .hidden {
        display: inline-block;
    }
    
    .hide-sm {
        display: none;
    }

    #spotify-logo-resize {
        width: 120px;
        margin-top: 10px;
        margin-bottom: 10px;
    }

    hr {
        border-color: rgb(56, 56, 56);
        margin: 5px 0;
        margin-right: 10px;
    }

    .btn-transparent {
        margin-right: 2%;
    }

    .btn-transparent:hover {
        cursor: pointer;
        transform:scale(1.2);
    }

    #menu span:hover {
        color: white;
        cursor:pointer;
    }

    #play-container:hover {
        background-color: rgba(0,0,0,0.4);
        color: white;
        cursor: pointer;
     }
    
     #play-container:hover .play-hover {
         display: inline-block;
     }

     .hover-white:hover {
        cursor: pointer;
        color: white;
        filter: brightness(0) invert(1);
     }

     .hover-white-special:hover > .fa-plus, .hover-white-special:hover span  {
         color: white; 
         cursor: pointer;
     }

     .username {
         color: white;
     }

}

@media screen and (min-width: 768px) {
.col {
    flex-basis: 25%;
}

}

@media screen and (min-width: 960px) {

    .col {
        flex-basis: calc(100% / 6);
    }

}

