/* GENERAL */

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    font-family: 'Montserrat', sans-serif;
}

h2, h5 {
    color: white;
}

.col {
    margin-bottom: 20px;
}


/* Wrapper */
.wrapper {
    height: calc(100vh - 100px);
}

.pad-bot-5 {
    padding-bottom: 5px;
}

.icon-size {
    width: 25px;
}

/* FLEX */

.flex {
    display: flex; 
}

.d-column {
    flex-direction: column;
}

.j-end {
    justify-content: flex-end;
}

/* HEADER */

header {
    width: 100%;
    height: 100px;
    background-color: rgba(0,0,0,0.4);
    position: fixed;
    top: 0;
    right: 0;
    }


.btn-transparent {
    padding: 6px 13px;
    border: 1px white solid;
    align-self: center;
    font-size: 11px;
    color: white;
    border-radius: 15px;
    margin-right: 3px;
}

/* SIDEBAR */

nav {
    background-color: black;
    width: 50px;
    height: 100%;
    justify-content: space-between;
    text-align: center;
    z-index: 1;
}


/* MAIN */

main {
    width: 100%;
    background-color: #141922;
    overflow-y: auto;
}

#container-main-page {
    width: 100%;
    max-width: 100%;
    padding-top: 100px;
}

#menu {
    color: grey;
    font-size: 14px;
    font-weight: 600;
    justify-content: center;
    flex-wrap: wrap;
    line-height: 60px;
}

#menu span {
    margin-left: 40px;
}

.album-row {
    flex-wrap: wrap;
    text-align: center;
    flex-basis: 100%;
}

img {
    width: 180px;
}

.round-image {
    border-radius: 50%;
}

.site-section {
    flex-wrap: wrap;
}

.subtitle {
    font-size: 13px;
    color: grey;
    font-weight: 600;
}


/* FOOTER */

footer {
    height: 100px;
    background-color: #282828;
}

/* MEDIA QUERIES */

@media screen and (min-width: 576px) {
    nav {
        width: 200px;
    }
}